<nav>
    <div class="site-title">
        <% const name = "Abir Hasan"; %>
        <h1>Welcome, <%= name %>!</h1>
     <a hraf="/">Blog ninja</a>
     <p>A net Ninja Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>