<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog ninjs</title>
</head>
<body>
    <nav>
        <div class="site-title">
         <a hraf="/">Blog ninja</a>
         <p>A net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>We are one of the largetst Company in UK</p>
        <p>We are one of the largetst Company in UK</p>
        <p>We are one of the largetst Company in UK</p>
    </div>
</body>
</html>