<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog ninjs</title>
</head>
<body>
    <nav>
        <div class="site-title">
         <a hraf="/">Blog ninja</a>
         <p>A net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="create-blog content">
        <form>
     <label for="title">Blog Title:</label>
     <input type="text" id="title" required>
     <label for="snippet">Blog Snippet:</label>
     <input type="text" id="snippet" required>
     <label for="Body">Blog Body:</label>
     <textarea id="body" required></textarea>
     <button>Submit</button>

        </form>
    </div>
</body>
</html>